<section class="section-photos">
  <div id='overlay' class="overlay">

  </div>

  <div class="photos-container">
    <ul>
      <li><a href="#"><img class="image-gallery"  src="http://facehoff.herokuapp.com/150/150"></li></a>
      <li><a href="#"><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li></a>
      <li><a href="#"><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li></a>
      <li><a href="#"><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li></a>
      <li><a href="#"><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li></a>
      <li><a href="#"><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li></a>
      <li><a href="#"><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li></a>
      <li><a href="#"><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li></a>
      <li><a href="#"><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li></a>

    </ul>
  </div>

  <h1>Photos</h1>
  
<!--   <div id="overlay"></div>
-->

</section>

