<section class="section-photos">
  <div class="myOverlay">

    <div class="photos-container">
      <ul>
        <li><img class="image-gallery"  src="http://facehoff.herokuapp.com/150/150"></li>
        <li><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li>
        <li><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li>
        <li><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li>
        <li><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li>
        <li><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li>
        <li><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li>
        <li><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li>
        <li><img class="image-gallery" src="http://facehoff.herokuapp.com/150/150"></li>

      </ul>
    </div>

  </div>

  <h1>Photos</h1>
  
<!--   <div id="overlay"></div>
-->

</section>

