.section-photos {
  text-align: center;
  display: block;
  height: 100%;
}


#overlay {
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;



}

.photos-container {
  ul {
    width: 550px;
    margin: auto;
    li {
      width: 30%;
      float: left;
      display: block;
    }
  }
}

.overlay-image {
  width: 400px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}



#photos {
  opacity: .88;
}

#photos img {
  width: 30%;
  float: left;
  display: block;
  margin: 2px;
}

