.section-team {
	text-align: center;
}


.crew-container {
	padding-bottom: 5%;
	border: 1px solid black;
	border-radius: 25px;
	margin-bottom: 10%;
	background-color: #fff;

	.copy-container {
		padding: 0 10px;
	}


	img {
		width: 100%;
		height: 100%;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		border-bottom: 2px solid grey;

	}
}


@include breakpoint(midDisplay) {
	.crew-container {
		width: 50%;
		margin: 10% auto ;
	}
}

@include breakpoint(largeDisplay) {
	.crew-container {
		width: 100%;
		margin: 10% auto ;
	}
}